# Dependencies
node_modules/

# Environment files
.env
.env.*
!.env.example
.venv
    
# Build outputs
dist/
build/
coverage/

# Logs
*.log

nofication-xnk-firebase-adminsdk-fbsvc-8478d03e5e
firebase-notification.json